$background-base: #282c34;
$background-light: #4b566e;
$highlight: #76E7B3;

.nav-background{
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 25px 20px;
    background: #4b566e;
    box-shadow: 2px 2px 5px #76E7B3;
    h3{
        color: #4b566e;
        margin: 0;
        padding: 5px 0;

        
    }
}
.nav-back{
    z-index: 2;
    position: fixed;
    opacity: .8;
    width: 100%;
    color: white;
    // background: #3b424e;
    padding: 0 20px;

    // box-shadow: 2px 4px 8px #76E7B3;
    .nav-bar{
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        .logo{
            padding: 25px 0;
            display: flex;
            align-items: center;
            transition: padding 0.4s ease;
            img{
                width: 50px;
            } 
            h3{
                font-size: 1.3rem;
                margin: 0;
                padding: 0;
            }


        }            
        .logo:hover{
            cursor: pointer;
            h3{
                color: #76E7B3;
            }
        }
        
        .nav-list{
            display: flex;
            width: 30%;
            justify-content: flex-end;
            align-items: flex-end;
            .nav-item{
                padding: 22px 10px;
                color: white;
                text-decoration: solid;
                margin-left: 10%;
                font-weight: bold;
                font-size: 1.1rem;
                border-bottom: 8px solid rgba(75,86,110, 0);
                transition: padding 0.4s ease;
            }
            .nav-item:hover{
                color: #76E7B3;
                border-bottom: 8px solid $highlight;
            }
        }

    }
}
.OpacityOn{
    opacity: 1;
    transition: padding 0.4s ease;
}
.OpacityOff{
    opacity: .8;
    transition: padding 0.4s ease;
    padding: 0 15px 20px;
    .nav-bar{
        .logo{
            
            padding: 15px 0 0;
            transition: padding 0.4s ease;

        }
        .nav-list{
            .nav-item{
                
                padding: 15px 10px 0;
                transition: padding 0.4s ease;
            }
        }

    }
    
}

.nav-back{
    opacity: 1;

}
