
.nav-back{
    z-index: 1;
    position: fixed;
    opacity: .95;
    width: 100%;
    color: white;
    background: #3b424e;
    padding: 20px;
    box-shadow: 2px 4px 8px #76E7B3;
    .nav-bar{
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        .logo{
            display: flex;
            align-items: center;
            img{
                width: 50px;
            } 
            h3{
                margin: 0;
                padding: 0;
            }
        }
        
        .nav-list{
            display: flex;
            width: 30%;
            justify-content: flex-end;
            align-items: flex-end;
            .nav-item{
                margin-left: 10%;
            }
        }

    }
}