@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

$background-base: #282c34;
$background-light: #4b566e;
$highlight: #76E7B3;
$mobile: 700px;
@media (min-width: $mobile) {
  
}

*{
  box-sizing: border-box;
}
.App {
  background-image: url('./images/image2vector.svg');
  background-color: $background-base;
  background-repeat: repeat;
  background-size: 100vw;
  background-attachment: fixed;
  padding-bottom: 70px;

}

.container{
  background-color: $background-base;
  margin: 0 auto;
  max-width: 1300px;
  box-shadow: 0 10px 5px $background-base;
  padding-bottom: 20px;
}

button{
  color: $background-base;;
  background: rgba(255, 255, 255, .735);
  border: 2px solid white;
  padding: 10px;
  border-radius:5px;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Russo One', sans-serif;
  font-family: 'Orbitron', sans-serif;
  
}
button:hover{
    background: white;
    color: black;

  }
  button:active{
    background:$background-base;
    color: white;

  }

// # project styling
.projects{
  margin: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  box-shadow: 1px 40px 30px $background-base;
  margin-bottom: 80px;
  .port-head{
    width: 100%;
    
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin:  15px 0;
    padding: 10px;
    font-size: 1.9rem;
    text-align: center;
    background: $background-light;
    margin-top: 100px;
    margin-bottom: 55px;
  }
  .projects-columns{
    display: flex;
    flex-direction: row;
    .project-list{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      // height: 3000px;
      width: 50%;
    }
    .item{
      border-radius: 12px;
      width:88%;
      background: #363e3f;
      margin-bottom: 50px;
      overflow: hidden;
      box-shadow: 10px 25px 18px #131B29;
      border-bottom: 8px solid $highlight;
  
      .title{
        text-align: center;
        font-size: 1.8rem;
      }
      img{
        border-bottom: 5px solid $background-base;
        width: 100%;
        height: 26rem;
      }
      .info{
        max-height: 0;

        transition: max-height 0.15s ease-out, margin .2s ease, padding .2s ease;
        transform: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        button{
          width: 80%;
          padding: 13px 0;
          margin: 0 auto;
          margin-top: 20px;
          font-size: 1.2rem;
        }

      }
      
  
    }
    .item:hover{
      .info{
        max-height: 500px;
        transition:  max-height .3s ease-in,margin .2s ease, padding .2s ease;
        padding: 0 30px 15px;
        margin-bottom: 15px;
        
      } // info
    } //item:hover
  } // projects-columns
}





@media (max-width: $mobile) {



  // # project styling
.projects{
  // background: red;

  .port-head{

  }
  .projects-columns{
    width: 100%;
    flex-direction: column;

    .project-list{
      width: 100%;

    }
    .item{

  
      .title{

      }
      img{

      }
      .info{

        button{

        }

      }
      
  
    }
    .item:hover{
      .info{

        
      } // info
    } //item:hover
  } // projects-columns
}
  
}