$background-base: #282c34;
$background-light: #4b566e;
$highlight: #76E7B3;

.pfp-background{
    margin: 0 auto;
    padding: 180px 0 185px;
    display: flex;
    justify-content: center;
    #pfp{
        width: 300px;
        border-radius: 140px;
        align-self: center;
        justify-self: center;
    }
}


.App-header {
    background-color: $background-base;
    min-height: 400px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2rem;
    color: white;
    // padding-top: 150px;
  }

.App-header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 50px 50px;
    .header-title{
        margin-bottom: 50px;
        h1{
            margin-bottom: 0;
            padding-bottom: 0;
        }   
    }
    #moto{
        margin-bottom: 0;
    }
    
    //social icons
    .social-icons{
        display: flex;

    }
    .gitLogo{
        opacity: .6;
        color: white;
        margin-right: 10px;
    }
    .gitLogo:hover{
        opacity: 1;
        cursor: pointer;
    }
    .git{
        height: 30px;
    }
    .mail{
        width: 26px;
    }
    .linkedin{
        width: 30px;
    }

    // summary
    .sumBtn{
        width : 100%;
        text-align: left;
        font-size: 3rem;
        border: none;
        background: none;
        color: white;
        transition:  font-size .3s ease-in
    }
    .sumBtn:focus {outline:0;}
    .sumBtn:hover{
        color: $highlight;
    }

    .sumBtnClose{
        font-size: 1.6rem;
        transition:  font-size .3s ease-in
    }
    .summary{
        height: 0px;
        padding: 0px 40px 0px 15px;
        overflow: hidden;
        font-size: 1rem;

        transition:  height .3s ease-in,margin .2s ease;
    }
    .summary.open{
        height: 300px;
        transition:  height .3s ease-in,margin .2s ease;
    }

}
