.ProjectInfo{
    padding: 50px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    color: white;
    .title{
      margin-top: 60px;
    }
    .projectPic{
        margin-top: 50px;
        margin-bottom: 35px;
        align-self: center;
        width: 80%;
        border-radius: 15px;
    }
    .contribution{
        margin-bottom: 30px;
    }
    .tech{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
        h2{
            padding-left: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        ul{
            margin-top: 10px;
            border-top: 1px solid white;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 50%;
            padding-left: 80px;
            li{
                padding: 20px 60px 0 0;
            }
        }
    }

    .short-info{
        align-self: center;
        display: flex;
        justify-content: space-between;
        width: 500px;
        margin-bottom: 40px;
        .info-item{
          align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            label{
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    .project-links{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row-reverse;
        margin-bottom: 25px;
        button{
          margin: 0 10px 0 0;  
          align-self: flex-start;
          padding: 14px 40px;
        }
        img{
          border-bottom: none;
          width: 50px;
          height: 50px;
          margin: 0 10px 0 0;
          opacity: .75;
        
          align-self: flex-start;
        }
        img:hover{
          cursor: pointer;
          opacity: 1;
        }
        button:hover{
          cursor: pointer;
        }
      }
}