.ProjectInfo{
    padding: 50px;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    color: white;
    .projectPic{
        align-self: center;
        width: 80%;
        border-radius: 15px;
    }
    .contribution{
        margin-bottom: 40px;
    }
    .tech{

    }

    .short-info{
        display: flex;
        justify-content: space-between;
        width: 500px;
        margin-bottom: 40px;
        .info-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            label{
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    .project-links{
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        button{
          margin: 25px 10px 0 0;
        //   width: 80px;  
          align-self: flex-start;
          padding: 14px 30px;
        }
        img{
          border-bottom: none;
          width: 50px;
          height: 50px;
          margin: 25px 10px 0 0;
        
          align-self: flex-start;
        }
        img:hover{
          cursor: pointer;
        }
        button:hover{
          cursor: pointer;
        }
      }
}